<% path = @refueling.persisted? ? refueling_path : refueling_index_path %>

<%= form_for @refueling, url: path do |f| %>
  <div class='flex flex-col md:flex-row'>
    <div class='flex-1 md:mr-8'>
      <div>
        <div class='flex' data-reflex='keyup->FuelReflex#avarage change->FuelReflex#avarage'>
          <div class='flex-1 mb-4 mr-2'>
            <%= f.label :liters, class: 'label' %>
            <%= f.number_field :liters, class: 'input', step: 0.01, autocomplete: :off %>
          </div>

          <div class='flex-1 mb-4'>
            <%= f.label :kilometers, class: 'label' %>
            <%= f.number_field :kilometers, class: 'input', step: 0.01, autocomplete: :off %>
          </div>
        </div>

        <div class='flex-1 mb-4'>
          <%= f.label :avg_fuel_consumption, class: 'label' %>
          <div class='flex'>
            <div id='avg_fuel_consumption' class='input rounded-r-none bg-gray-100 cursor-not-allowed' %>
              <%= f.object.avg_fuel_consumption || '0.00' %>
            </div>
            <div class='bg-gray-300 input w-40 rounded-l-none'>
              L/100 km
            </div>
          </div>
        </div>

        <div class='flex-1 mb-4'>
          <%= f.label :cost, class: 'label' %>
          <%= f.number_field :cost, class: 'input', step: 0.01 %>
        </div>
      </div>
    </div>

    <div class='flex-1'>
      <div class='mb-4'>
        <%= f.label :note, class: 'label' %>
        <%= f.text_area :note, rows: 10, class: 'input' %>
      </div>
    </div>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-green btn-outline' %>
<% end %>
