<!DOCTYPE html>
<html class="antialiased" data-theme=<%= user_signed_in? ? current_user.theme_color : 'light_theme' %>>
  <%= render "shared/head" %>

  <body class="container mx-auto font-normal leading-normal text-gray-800 bg-white">
    <%= render "shared/header" %>
    <%= render "shared/flash_notice" %>

    <main class="px-4 md:px-10">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
